@{
	ViewBag.Child_Caption = "Change Password";
	ViewBag.Icon = "<i class=\"ace-icon fa fa-lock\"></i>";
	ViewBag.Parent = "ChangePassword";
	ViewBag.TopMenuAce = "Yes";

	var ROLES = new I_Care.Classes.UserRoleProvider();
	ViewBag.Title = "HomePage";
	string UserType = ROLES.GetUserType(User.Identity.Name.ToString());



}



<style>
	.page-content {
		padding: 0px;
	}

	.page_detail {
		padding: 20%;
		padding-top: 2%;
		padding-bottom: 0%;
	}

	.form_title {
		width: 100%;
		text-align: center;
		font-size: 35px;
		padding: 2%;
		border-bottom: 1px dashed #dedede;
		margin-bottom: 15px;
	}

	.form_footer {
		text-align: center;
		padding-top: 15px;
	}
</style>

<div class="page_detail">


	<div class="alert alert-info" id="error_box" hidden>
		Error
	</div>


	@if (ViewBag.Msg != null)
	{


		<text>

			<div class="alert alert-@ViewBag.Alert alert-dismissable">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
				<strong>@ViewBag.Process</strong> @ViewBag.Msg.
			</div>

		</text>

	}


	<div id="main_form" class="tab-pane fade active in">


		<div class="form_title">
			<img src="../../../Content/img/change_password.png" style="width:90px;">
			Change Password
		</div>

		<form class="form-horizontal" role="form"  method="POST" name="form_login" action="@Url.Content("~/User/ChangePassword")" id="form_change_password" onsubmit="return validateForm()">

			<div class="box-body">


				<div class="form-group">
					<label for="inputName" class="col-sm-4 control-label">Old Password. <mandatory>*</mandatory></label>
					<div class="col-sm-6">
						<input class="form-control wajib" id="OldPassword" name="OldPassword" placeholder="Old Password" type="password" autocomplete="off" required>
					</div>

				</div>

				<div class="form-group">
					<label for="inputName" class="col-sm-4 control-label">New Password. <mandatory>*</mandatory></label>
					<div class="col-sm-6">
						<input class="form-control wajib" id="NewPassword" name="NewPassword"  placeholder="New Password" type="password" autocomplete="off" required>

					</div>

				</div>


				<div class="form-group">
					<label for="inputName" class="col-sm-4 control-label">Confirm New Password. <mandatory>*</mandatory></label>
					<div class="col-sm-6">
						<input class="form-control wajib" id="ConfirmNewPassword" ame="ConfirmNewPassword" placeholder="Comfirm New Password" type="password" autocomplete="off" required>

					</div>

				</div>

				<div class="form-group">
					<label for="inputName" class="col-sm-4 control-label">&nbsp;</label>
					<div class="col-sm-6" style="padding-left:0px;">
						<div class="checkbox">
							<label class="block">
								<input name="form-field-checkbox" type="checkbox" class="ace input-sm" onclick="ShowPassword()"s>
								<span class="lbl bigger-120"> Show Password</span>
							</label>
						</div>
					</div>
				</div>

				


			</div>

			<div class="form_footer" style="border-top:1px dashed #dedede;margin-top:15px;padding-bottom:15px;">
				<button type="submit" class="btn btn-primary btn-sm" onclick="UpdatePassword()">Update</button>
				<button type="reset" class="btn btn-default btn-sm" onclick="ClearField()">Clear</button>
			</div>


		</form>

	</div>

</div>


@if (Request.Cookies["change_password"] != null
	&& !string.IsNullOrEmpty(Request.Cookies["change_password"].Value))
{
	Response.Cookies.Clear();
<text>
<script>
	$("#error_box").html("Password Anda belum pernah di update dari pertama kali login , demi keamanan akun Anda harap perbaharui password Anda !");
	$("#error_box").show();
</script>

</text>

	Response.Cookies["change_password"].Expires = DateTime.Now.AddDays(-5);


}



<script>
	function validateForm() {

		if ($("#NewPassword").val() != $("#ConfirmNewPassword").val()) {

			$("#ConfirmNewPassword").focus();
			w2alert('Confirm new password must be same whith new password');
			return false;
		}
		else {

			$("#Saving_Load").show();
		}


	}


	function ShowPassword() {

		var x = document.getElementById("OldPassword");
		if (x.type === "password") {
			x.type = "text";
		} else {
			x.type = "password";
		}

		var x = document.getElementById("NewPassword");
		if (x.type === "password") {
			x.type = "text";
		} else {
			x.type = "password";
		}

		var x = document.getElementById("ConfirmNewPassword");
		if (x.type === "password") {
			x.type = "text";
		} else {
			x.type = "password";
		}
	}

	
</script>