@*draft style*@
<style>

	.template_e_contract {
		overflow-y: scroll;
		width: 100%;
		padding: 2%;
		padding-top: 0px;
		border-radius: 0px;
		text-align: justify;
		border: none;
		border-bottom: 1px solid #dedede;
		background-color: whitesmoke;
		display: inline-grid;
		position: relative;
		margin: 0% auto;
	}

	.outer_page_drafting {
		overflow-y: auto;
		margin: 0px auto;
		width: 100%;
		padding: 2%;
		padding-top: 0px;
		border-radius: 0px;
		text-align: justify;
		border: 0px solid #dedede;
		border-bottom: 0px solid #dedede;
		border-top: 1px solid #dedede;
		background-color: whitesmoke;
	}

	.page {
		background-color: white;
		border: 1px solid #d2caca;
		margin: 2% auto;
		margin-top: 1%;
		margin-bottom: 1%;
		height: 1240px;
		width: 874px;
		position: relative;
		box-shadow: 13px 16px 13px -9px rgba(0,0,0,0.21);
		-webkit-box-shadow: 13px 16px 13px -9px rgba(0,0,0,0.21);
		-moz-box-shadow: 13px 16px 13px -9px rgba(0,0,0,0.21);
		overflow: hidden;
		padding: 5%;
	}

	.content_editor {
		min-height: 100%;
		width: 100%;
		padding: 1%;
		overflow: hidden;
	}

	.page_header {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		padding: 5px;
		font-size: 12px;
		color: gray;
		width: 100%;
		text-align: right;
	}

	.page_footer {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		font-style: italic;
		padding: 5px;
		font-size: 11px;
		color: gray;
		width: 100%;
		text-align: right;
	}

	.page_footer_sub {
		border-top: 1px solid #dedede;
		padding: 5px;
		margin: 2% auto;
		width: 90%;
	}

	.input_box_draft {
		border: none !important;
		padding: 0px;
		text-align: right;
		width: 100%;
	}

	.e_materai {
		font-weight: bold;
		color: #d6d3d3;
		border: 0px dashed #dedede;
		padding: 7%;
		text-align: center;
		width: 200px;
		font-size: 10px;
		background-color: #778287;
	}

	.nama_pt {
		font-weight: bold;
	}

	.baris_center {
		text-align: center !important;
	}
	.inner_template td {
		font-size: 12px !important;
	}

	.sub_page_doc {
		text-align: justify;
	}

	.page {
	
		font-size:12px !important;
	}
</style>

@*css_drafting_tools*@
<style>

	.drafting_tools {
		background-color: #eaeaea;
		text-align: center;
		vertical-align: middle;
		border-top: 1px solid #d1cdcd;
		padding: 5px;
	}

	.btn-draft-tools {
		border-width: 1px !important;
		font-size: 11px;
		padding: 4px;
		border-radius: 2px;
	}

	.break_menu {
		border-left: 1px solid #d2caca;
		padding: 10px;
		padding-left: 3px;
		padding-right: 2px;
	}

	.pre_submit_wording {
		line-height: 25px;
		font-size: 13px !important;
	}


	#mandatory_value_confirm .select2 {
		font-size: 12px;
		text-align: left;
	}

	.preview_attachment {
		overflow-y: hidden;
		margin-top: 0px;
		margin-bottom: 0px;
		width: 100%;
		border-radius: 0px;
		text-align: justify;
		border: none;
		border-bottom: 0px solid #dedede;
		background-color: white;
		position: relative;
	}

	#frame_preview {
		background: url("../../Content/images/loading_images/conection.gif") center center no-repeat;
		background-color: white;
		background-size: 45%;
	}
</style>


@*css_daftar_lampiran*@
<style>

	#ModalListAttacment .modal-dialog {
		width: 60%;
		margin: 0 auto;
		margin-top: 5%;
		-webkit-box-shadow: -1px 11px 48px 3px rgba(0,0,0,0.75);
		-moz-box-shadow: -1px 11px 48px 3px rgba(0,0,0,0.75);
		box-shadow: -1px 11px 48px 3px rgba(0,0,0,0.75);
	}

	#ModalDownloadDraft .modal-dialog {
		width: 30%;
		margin: 0 auto;
		margin-top: 9%;
		-webkit-box-shadow: -1px 11px 48px 3px rgba(0,0,0,0.75);
		-moz-box-shadow: -1px 11px 48px 3px rgba(0,0,0,0.75);
		box-shadow: -1px 11px 48px 3px rgba(0,0,0,0.75);
	}

	#ModalDownloadDraft .icon_short_cut {
		padding: 10px;
		border: 1px dashed #dedede;
		height: 70px !important;
	}

		#ModalDownloadDraft .icon_short_cut .ace-icon {
			font-size: 35px !important;
		}

	#gridLampiran .icon-file {
		font-size: 20px;
	}


	.bagi_dua {
		width: 50% !important;
		display: inline-block;
		float: left;
	}

	.preview_attachment {
		border-left: 1px solid #dedede;
	}

	.judul_preview_file {
		width: 100%;
		background: #efefed;
		border-top: 1px solid #dedede;
		padding: 10px;
		font-weight: bold;
	}

	.close_prev_ {
		color: red;
		cursor: pointer;
	}

		.close_prev_:hover {
			color: #ff6060;
		}
</style>

@*process*@
<style>

	#proses_next_step label {
		font-size: 12px;
	}

	#proses_next_step textarea {
		resize: none;
		min-height: 100px;
		width: 100%;
	}


	.pre_submit_wording, .form_mandatory {
		font-size: 18px;
		padding: 10px;
		width: 90%;
		margin: 1% auto;
		border-bottom: 0px solid #dedede;
		text-align: center;
	}

	.form_mandatory {
		padding: 1% !important;
		border-top: 1px solid #dedede;
		border-bottom: 1px solid #dedede;
	}

		.form_mandatory label {
			font-size: 12px;
		}
</style>

@*modal css*@
<style>

	#ModalRichText .modal-dialog {
		width: 90%;
		margin: 0 auto;
		margin-top: 5%;
		-webkit-box-shadow: -1px 11px 48px 3px rgba(0,0,0,0.75);
		-moz-box-shadow: -1px 11px 48px 3px rgba(0,0,0,0.75);
		box-shadow: -1px 11px 48px 3px rgba(0,0,0,0.75);
	}

	#ModalCustomPoint .modal-dialog {
		width: 80%;
		margin: 0 auto;
		margin-top: 5%;
		-webkit-box-shadow: -1px 11px 48px 3px rgba(0,0,0,0.75);
		-moz-box-shadow: -1px 11px 48px 3px rgba(0,0,0,0.75);
		box-shadow: -1px 11px 48px 3px rgba(0,0,0,0.75);
	}

	#ModalCustomPoint .control-label {
		font-size: 12px;
	}
</style>

@*hasil*@
<style>


	.result_wording {
		text-align: center;
		margin: 2% auto;
		font-size: 15px;
		width: 80%;
		font-weight: bold
	}
	.group_file_kontrak {
		text-align: center
	}

	.icon_file_contract {
		border: 1px solid #dedede;
		padding: 20px;
		width: 130px;
		height: 140px;
		display: inline-table;
		margin-left: 5px;
		font-size: 12px;
		cursor: pointer;
		transition: 0.3s;
		margin-bottom: 1%;
		background-color: none;
		cursor: pointer;
		text-align: center
	}

		.icon_file_contract:hover {
			color: dodgerblue;
			border-color: dodgerblue;
			opacity: .80;
		}

		.icon_file_contract i {
			font-size: 45px !important;
			color: red;
		}


	.kata-kata {
		font-size: 15px;
	}

</style>

<div id="template_e_contract" hidden>

	<div class="drafting_tools" id="drafting_tools_draft">

		

	</div>

	<div class="outer_page_drafting">


	</div>

</div>

<div id="uploader_file" hidden>

	<input type="file" id="attachment_draft_e_kontrak" required accept=".jpg,.jpeg,.pdf,.png,.xls" />

</div>


<div id="proses_next_step" hidden>

	<div class="pre_submit_wording row" hidden id="pre_process_wording">

		<img src="~/Content/img/document_check2.png" style="width:5%;" /><br />
		<span>
			Pastikan <b>DRAFT E-KONTRAK</b> yang akan Anda proses ini telah sesuai <br />
			atau Anda dapat memerikasa-nya kembali dan Anda juga
			dapat meninggkalkan catatan pada proses ini.
		</span>
		<br />
		<span id="next_step_wording" style="font-size:15px;"></span>

	</div>


	<div class="pre_submit_wording row" hidden id="pre_reject_wording">

		<img src="~/Content/img/reject_icon2.jpg" style="width:10%;" /><br />
		<span>
			Yakin mau mereject <b>DRAFT E-KONTRAK</b> ini ?<br />
			atau Anda dapat memerikasa-nya kembali dan Anda juga
			dapat meninggkalkan catatan pada proses ini.
		</span>
		<br />
		<span id="next_step_wording" style="font-size:15px;"></span>

	</div>

	<div class="row form_mandatory" id="form_mandatory_prep">
		<form class="form-horizontal">
			<div class="box-body">

				<div class="form-group">
					<label for="inputName" class="col-sm-2 control-label mandatory">Tinggalkan Catatan :</label>
					<div class="col-sm-10">
						<textarea class="form-control" id="ProcessCatatan" placeholder="Tinggalkan catatan jika diperlukan" autocomplete="off"></textarea>
					</div>
				</div>

				<div class="form-group cek_box" id="field_lanjut_dengan_catatan">
					<label for="inputName" class="col-sm-2 control-label mandatory">Lanjut Proses Dengan Catatan :</label>
					<div class="col-sm-10" style="text-align:left !important;">
						<label class="block">
							<input name="form-field-checkbox" id="ENeedCorrection" type="checkbox" class="ace input-lg">
							<span class="lbl bigger-120"> Dengan menchecklist ini proses akan dilanjutkan dengan catatan dan akan dikembalikan ke pembuat draft!</span>
						</label>
					</div>
				</div>


				<div class="form-group cek_box" id="field_update_draft">
					<label for="inputName" class="col-sm-2 control-label mandatory">Perbaharui Draft :</label>
					<div class="col-sm-10" style="text-align:left !important;">
						<label class="block">
							<input name="form-field-checkbox" id="EUpdateDraft" type="checkbox" class="ace input-lg">
							<span class="lbl bigger-120"> Dengan menchecklist ini jika Anda melakukan modifikasi draft pada proses ini, draft sebelumnya akan diperbaharui !</span>
						</label>
					</div>
				</div>


				<div class="form-group file_sign_upload_group">
					<label for="inputName" class="col-sm-2 control-label mandatory">Upload Signed Draft I <mandatory>*</mandatory>&nbsp;&nbsp;:</label>
					<div class="col-sm-10">
						<input type="file" id="ProcessUpload_1" required accept=".jpg,.jpeg,.pdf,.png,.xls" class="uploader" />
					</div>
				</div>

				<div class="form-group file_sign_upload_group">
					<label for="inputName" class="col-sm-2 control-label mandatory">Upload Signed Draft II <mandatory>*</mandatory>&nbsp;&nbsp;:</label>
					<div class="col-sm-10">
						<input type="file" id="ProcessUpload_2" required accept=".jpg,.jpeg,.pdf,.png,.xls" class="uploader" />
					</div>
				</div>

			</div>
		</form>
	</div>


	<div class="pre_submit_wording row button_box_prep">
		<button type="button" class="btn btn-gray btn-sm" onclick="back_to_drafting()" ondblclick="back_to_drafting()"><i class="ace-icon fa fa-arrow-left" aria-hidden="true"></i> Back</button>
		<button type="button" class="btn btn-primary btn-sm" onclick="submit_draft()" ondblclick="submit_draft()"><i class="ace-icon  fa fa-paper-plane" aria-hidden="true"></i> Next</button>
	</div>

</div>


@*<div id="proses_next_step" hidden>


	<div class="pre_submit_wording row">


		<img src="~/Content/img/document_check2.png" style="width:5%;" /><br />
		Pastikan <b>DRAFT E-KONTRAK</b> yang akan Anda proses ini telah sesuai <br />
		atau Anda dapat memerikasa-nya kembali dan Anda juga
		dapat meninggkalkan catatan pada proses ini.

	</div>

	<div class="row form_mandatory" id="form_mandatory_prep">
		<form class="form-horizontal">
			<div class="box-body">

				<div class="form-group">
					<label for="inputName" class="col-sm-2 control-label mandatory">Tinggalkan Catatan <mandatory>*</mandatory>:</label>
					<div class="col-sm-10">
						<textarea class="form-control" id="ProcessCatatanReject" placeholder="Anda wajib meninggalkan catatan" autocomplete="off"></textarea>
					</div>
				</div>



			</div>
		</form>
	</div>


	<div class="pre_submit_wording row button_box_prep">
		<button type="button" class="btn btn-gray btn-sm" onclick="back_to_drafting()" ondblclick="back_to_drafting()"><i class="ace-icon fa fa-arrow-left" aria-hidden="true"></i> Back</button>
		<button type="button" class="btn btn-primary btn-sm" onclick="submit_draft()" ondblclick="submit_draft()"><i class="ace-icon  fa fa-paper-plane" aria-hidden="true"></i> Next</button>
	</div>

</div>*@

<div class="page_progress" id="progress_save_draft" hidden>

	<img src="~/Content/images/loading_images/roket.gif" style="width:30%;" />
	<br />
	<span>Loading ...</span>

</div>

<!-- Modal -->
<div class="modal fade modal_ex" id="ModalListAttacment" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content" style="border:none;">
			<div class="modal-header">
				<h4 class="modal-title"> <i class="fa fa-paperclip" aria-hidden="true"></i> Daftar Lampiran</h4>

			</div>
			<div class="modal-body" style="padding:0px;">

				<div id="gridLampiran" style="height:298px;border:none;border-radius:0px;border-top:1px solid #ccc;border-right:0px solid #dedede;"></div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>

			</div>
		</div>
	</div>
</div>

<div class="modal fade modal_ex" id="ModalDownloadDraft" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content" style="border:none;">
			<div class="modal-header">
				<h4 class="modal-title"> <i class="ace-icon fa fa-file-pdf-o" aria-hidden="true" style="color:red;"></i> Silahkan Download Draft Berikut !</h4>

			</div>
			<div class="modal-body" style="padding:0px;">

				<div id="box_info_icon" style="border:none !important;padding-bottom:15px !important;">


					<div class="icon_short_cut" onclick="download_draft(1);">
						<i class="ace-icon fa fa-file-pdf-o" aria-hidden="true" style="color:red;"></i>
						<br />
						<span class="lbl bigger-100">Draft Rangkap I</span> <br /><br />
					</div>


					<div class="icon_short_cut" onclick="download_draft(2);">
						<i class="ace-icon fa fa-file-pdf-o" aria-hidden="true" style="color:red;"></i>
						<br />
						<span class="lbl bigger-100">Draft Rangkap II</span> <br /><br />
					</div>

				</div>

			</div>
			<div class="modal-footer" style="text-align:center;">
				<button type="button" class="btn btn-gray btn-sm" data-dismiss="modal">Close</button>

			</div>
		</div>
	</div>
</div>





@*variabel & Const*@
<script>

	var current_contract_id = "";
	var panel_height_ajustment = 170;
	var panel_height_ajustment_editor = 200;
	var curent_template = [];
	var page_ = 1;

	var current_contract = [];
	var current_formid = 0;
	var FlagSign = 0;
	var open_preview = 0;
	var current_reject = 0;


</script>

@*//Drafting Tools JS*@
<script>



	$('.outer_page_drafting').css('height', (Number(window.innerHeight) - panel_height_ajustment));
	$(window).resize(function () {

		$('.outer_page_drafting').css('height', (Number(window.innerHeight) - panel_height_ajustment));

	});



	function ViewDraft(DarftRecord) {

		current_contract = DarftRecord;
		current_contract_id = DarftRecord.ContractId;
		current_reject = 0;
		page_ = 1;
		full_screen_stat = 1;

		var file_1 = $('#ProcessUpload_1');
		var file_2 = $('#ProcessUpload_2');
		file_1.ace_file_input('reset_input');
		file_2.ace_file_input('reset_input');


		//get control 
		var DataSave = new FormData();
		DataSave.append('ContractId', current_contract_id);
		var allow_button = $.ajax({
			url: URL_PTPR + '/Button/E_Kontrak_Procurement_AllowButton',
			type: 'POST',
			data: DataSave,
			dataType: "json",
			cache: false,
			async: false,
			contentType: false,
			processData: false,
		});

		button_fixed = ' <button type="button" class="btn btn-white btn-bold btn-draft-tools full_screen_btn" onclick="full_screen(\'#template_e_contract\');"><i class="ace-icon fa fa-arrows-alt" aria-hidden="true"></i> Maximize</button>';
		button_fixed = button_fixed + ' <button type="button" class="btn btn-white btn-bold btn-draft-tools" onclick="close_drafting();"><i class="ace-icon fa fa-times" aria-hidden="true" style="color:red;"></i> Close</button>';
		button_action = allow_button.responseText;
		button_lampiran = ' <button type="button" class="btn btn-white btn-bold btn-draft-tools" onclick="lihat_attachment()"><i class="ace-icon fa fa-paperclip" aria-hidden="true" style="color:orange;"></i> List Lampiran Tersedia</button>';

		$("#drafting_tools_draft").html('<div class="btn-group">' + button_lampiran + button_action + button_fixed + '</div>');

		$(".outer_page_drafting").html("");
		$(".btn-clear-attach").hide();
		$(".main-content-inner .breadcrumb .active").html("E-Contract Draft , #Contract Id. : " + DarftRecord.ProcTag + " - " + DarftRecord.ContractId + " - " + DarftRecord.ContractTitle + " For #Procurement Id. : " + DarftRecord.ProcurementId);

		if (current_contract.InProcess == 6 || current_contract.InProcess == 5) {

			$("#main_panel").hide("fade", function () {

				//$(".group_drafting,.group_drafting_2").hide();
				$(".outer_page_drafting").html("");
				$("#template_e_contract").show("fade", function () {


					var DownloadDraft_1 ="";
					var DownloadDraft_2 ="";

					var Param_ = new FormData();
					Param_.append('ContractId', current_contract.ContractId);

					var get_last_file = $.ajax({
						url: URL_PTPR + '/EContract/GetLastSignFileEContract',
						type: 'POST',
						data: Param_,
						dataType: "json",
						cache: false,
						async: false,
						contentType: false,
						processData: false,
					});

					if (get_last_file.responseJSON.length > 0) {

						DownloadDraft_1 = '<div class= "icon_file_contract" onclick="download_draft_sign(' + get_last_file.responseJSON[0].ID + ')" ondblclick="download_draft_sign(' + get_last_file.responseJSON[0].ID + ')"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> <br><br>File Kontrak Rangkap Ke 1</div> ';

						if (get_last_file.responseJSON.length > 1) {

							DownloadDraft_2 = '<div class= "icon_file_contract" onclick="download_draft_sign(' + get_last_file.responseJSON[1].ID + ')" ondblclick="download_draft_sign(' + get_last_file.responseJSON[1].ID + ')"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> <br><br>File Kontrak Rangkap Ke 2</div> ';
						}
					}

					var result_wording = '<div class="result_wording">Berikut file draft kontrak terakhir yang telah di convert dalam bentuk PDF</div>';

					$(".outer_page_drafting").html('<div class="page"><div class="group_file_kontrak">' + result_wording +  DownloadDraft_1 + DownloadDraft_2 + '</div></div>');
					full_screen('#template_e_contract');

				});

			})

			return;
		}

		$("#form_mandatory_prep .wajib").val("");
		$("#form_mandatory_prep .select2").val("").trigger('change');

		$("#ProcessCatatan").val("");
		$("#ProcessCatatan").val("");
		$('#ENeedCorrection,#EUpdateDraft').prop('checked', false); // Checks it

		if (current_contract.InProcess == 1 || current_contract.InProcess == 2 || current_contract.InProcess == 4) {

			$(".btn_reject_draft").show();
		}
		else {
			$(".btn_reject_draft").hide();
		}

		if (current_contract.InProcess == 4) {
			$(".btn_download_draft").show();
		}

		for (name in CKEDITOR.instances) {
			CKEDITOR.instances[name].destroy(true);
		}


		$("#main_panel").hide("fade", function () {

			$("#template_e_contract").show("fade", function () {

				Fix_Draft = DarftRecord.FormCapture;
				$(".outer_page_drafting").html(Fix_Draft);

				var count = 1;

				$(".page").each(function () {

					var element = $(this);
					var IdDiv = element[0].id;
					$(this).addClass('fixed_page');
					if (IdDiv == "") {
						IdDiv = "page_force_" + count;
						$(this).attr('id', IdDiv);


					}
					count = count + 1;

					var introduction = document.getElementById(IdDiv);
					introduction.setAttribute('contenteditable', false);

					if (DarftRecord.InProcess == 0 || DarftRecord.InProcess == 1 || DarftRecord.InProcess == 2  || DarftRecord.InProcess == 7) {

						var introduction = document.getElementById(IdDiv);
						introduction.setAttribute('contenteditable', true);

						

						CKEDITOR.inline(IdDiv, {
							// Allow some non-standard markup that we used in the introduction.
							extraAllowedContent: 'a(documentation);abbr[title];code',
							removeButtons: 'Paste',
							editorplaceholder: 'Start typing here...',
							// Show toolbar on startup (optional).
							startupFocus: false
						});

					

						//$(".group_drafting,.space_drafting").show();
					}

				})

				full_screen('#template_e_contract');

			})

		})



	}


</script>


@*//Drafting Tools JS*@
<script>



	function add_new_page(page_header) {

		const now = new Date();
		const offsetMs = now.getTimezoneOffset() * 60 * 1000;
		const dateLocal = new Date(now.getTime() - offsetMs);
		var page_id = dateLocal.toISOString().slice(0, 19).replace(/-/g, "-").replace("T", "-").replace(":", "-").replace(":", "-").replace("/", "-").replace(" ", "-");;

		var curret_ = 'editor' + page_id;

		var page_header = '<div class="input_box_draft input_header" id="header' + curret_ + '">Header</div>';
		var page_footer = '<div class="input_box_draft input_footer" id="footer' + curret_ + '">' + page_ + '</div>';;
		var new_page = '<div class="page" id="' + page_id + '-' + page_ + '"><div class="page_header">' + page_header + '</div><div class="content_editor" id="' + curret_ + '"></div><div class="page_footer">New Page #' + page_footer + '</div></div>';

		$(".outer_page_drafting").append(new_page);


		var ck_edit_obj = page_id + '-' + page_;

		var introduction = document.getElementById(curret_);
		introduction.setAttribute('contenteditable', true);

		CKEDITOR.inline(curret_, {
			// Allow some non-standard markup that we used in the introduction.
			extraAllowedContent: 'a(documentation);abbr[title];code',
			removePlugins: 'stylescombo',
			removeButtons: 'PasteFromWord',
			editorplaceholder: 'Start typing here...',
			// Show toolbar on startup (optional).
			startupFocus: false
		});


		var introduction2 = document.getElementById('header' + curret_);
		introduction2.setAttribute('contenteditable', true);

		CKEDITOR.inline('header' + curret_, {
			// Allow some non-standard markup that we used in the introduction.
			extraAllowedContent: 'a(documentation);abbr[title];code',
			removePlugins: 'stylescombo',
			removeButtons: 'PasteFromWord',
			// Show toolbar on startup (optional).
			startupFocus: false
		});



		var introduction3 = document.getElementById('footer' + curret_);
		introduction3.setAttribute('contenteditable', true);

		CKEDITOR.inline('footer' + curret_, {
			// Allow some non-standard markup that we used in the introduction.
			extraAllowedContent: 'a(documentation);abbr[title];code',
			removePlugins: 'stylescombo',
			removeButtons: 'PasteFromWord',
			// Show toolbar on startup (optional).
			startupFocus: false
		});

		page_ = page_ + 1;
		$("#" + curret_).focus();

	}

	function close_drafting() {

		$("#template_e_contract").hide("fade", function () {
			$("#main_panel").show();
			$(".main-content-inner .breadcrumb .active").html("");
			if (w2ui['gridContract'] != null) { refresh_contract_list(); }
			UpdateCountProgress();
		});

	}


	function delete_page() {

		var last_page = "";
		var count_page = 0;

		$(".page").each(function () {
			var element = $(this);
			last_page = element[0].id;
			count_page = count_page + 1;
		});

		if (count_page > 1) {

			$("#" + last_page).remove();
			page_ = page_ - 1;
		}
		else {
			w2alert("Oops... You cannot delete last page !");
		}


	}


</script>

@*//Drafting Attachment Add*@
<script>

	var oFileTotal = [];

	$('#attachment_draft_e_kontrak').change(function () {

		const oFile = document.getElementById("attachment_draft_e_kontrak").files;
		oFileTotal.push(oFile);

		if (oFileTotal.length > 0) {

			$(".btn-clear-attach").show();
			$(".btn-attach-info").html('<i class="ace-icon fa fa-list" aria-hidden="true"></i> ' + oFileTotal.length + ' File Attach');
		}
		else {

			$(".btn-clear-attach").hide();
		}

	});


	function clear_attach_file() {

		$(".btn-clear-attach").hide();
		oFileTotal = [];
	}


</script>


@*daftar_lampiran_js*@
<script>

	function lihat_attachment() {


		if (w2ui['gridLampiran'] != null) { w2ui['gridLampiran'].destroy(); }

		$('#ModalListAttacment').on('shown.bs.modal', function () {

			$('#gridLampiran').w2grid({

				name: 'gridLampiran',
				url: URL_PTPR + '/EContract/GetEContractFile?ContractId=' + current_contract_id,
				show: {
					header: false,
					footer: true,
					lineNumbers: true,
					toolbarAdd: false,
					toolbarDelete: false,
					toolbar: true,
					toolbarSearch: false,
				},
				toolbar: {
					items: [
						{ type: 'button', id: 'view_attachment', caption: '<i class="fa fa-folder-open" aria-hidden="true" style="color:orange;"></i> View Attachment Beside of Draft', disabled: true },
						{ type: 'break' },
						{ type: 'button', id: 'view_in_new_tab', caption: '<i class="fa fa-external-link" aria-hidden="true" style="color:green;"></i> View In New Tab', disabled: true },
					],
					onClick: function (target, data) {

						switch (target) {
							case 'view_attachment':
								var sel = w2ui.gridLampiran.getSelection();
								var record = w2ui.gridLampiran.get(sel[0]);
								view_attachment(record);
								break;
							case 'view_in_new_tab':
								var sel = w2ui.gridLampiran.getSelection();
								var record = w2ui.gridLampiran.get(sel[0]);
								var file_url = "";
								if (record.API == "DocMan") {
									file_url = URL_PTPR + "/EContract/ViewAttachment?Id=" + record.ID;
								}
								else {
									file_url = URL_PTPR + '/File_Contract/' + record.FileName_org;
								}

								window.open(file_url, '_blank');
								break;

						}

					}
				},
				columns: [

					{ field: 'DocType', caption: 'Tipe Dokumen', size: '200px', searchable: 'text' },
					{ field: 'FileName', caption: 'File Name', size: '100%', searchable: 'text' }

				],
				onDblClick: function (event) {
					var record = this.get(event.recid);
					view_attachment(record);
				},
				onSelect: function (event) {

					event.onComplete = function () {
						var contract = w2ui.gridLampiran.getSelection();
						w2ui['gridLampiran'].toolbar.disable('view_attachment');
						w2ui['gridLampiran'].toolbar.disable('view_in_new_tab');

						if (contract.length == 1) {

							var record = this.get(event.recid);
							w2ui['gridLampiran'].toolbar.enable('view_attachment');
							w2ui['gridLampiran'].toolbar.enable('view_in_new_tab');

						}
					}

				},
				onUnselect: function (event) {

					event.onComplete = function () {
						w2ui['gridLampiran'].toolbar.disable('view_attachment');
						w2ui['gridLampiran'].toolbar.disable('view_in_new_tab');

						if (contract.length == 1) {

							var record = this.get(event.recid);
							w2ui['gridLampiran'].toolbar.enable('view_attachment');
							w2ui['gridLampiran'].toolbar.enable('view_in_new_tab');

						}
					}
				}


			});
		})


		$('#ModalListAttacment').modal(
			{
				backdrop: 'static',
				keyboard: false
			}
		);



	}

	function view_attachment(record) {


		$("#template_e_contract").find(".preview_attachment").remove();
		var tinggi = 0;



		var box_;
		var file_url = URL_PTPR + "/EContract/ViewAttachment?Id=" + record.ID;


		if (record.API == 'DocMan') {

			file_url = URL_PTPR + "/EContract/ViewAttachment?Id=" + record.ID;
		}
		else {

			file_url = URL_PTPR + '/File_Contract/' + record.FileName_org;
		}

		if (open_preview == 0) {

			$(".outer_page_drafting").addClass("bagi_dua");
			open_preview = 1;
		}


		if (full_screen_stat == 1) {

			tinggi = Number(window.innerHeight) - 50;
		}
		else {

			tinggi = Number(window.innerHeight) - 169;
		}

		box_ = '<div class="preview_attachment bagi_dua">';
		box_ = box_ + '<div class="judul_preview_file"><table id="title_prev" width="100%"><tr><td width="80%">' + record.FileName + '</td>';
		box_ = box_ + '<td width="10%" style="text-align:right;"><span onclick="close_preview_attachment()" class="close_prev_"> <i class="fa fa-times-circle-o" aria-hidden="true"></i> Close</span></td></tr></table></div>';
		box_ = box_ + '<iframe src="' + file_url + '" scrolling="no" id="frame_preview" class="frame_prev" frameborder="1" style="width:100%;border:1px;height:' + tinggi + 'px;"></iframe></div>';


		$(".outer_page_drafting ").after(box_);
		$('.preview_attachment').css('height', tinggi);
		$('#ModalListAttacment').modal("hide");



	}

	function close_preview_attachment() {

		$("#frame_preview").attr("src", "");
		$(".preview_attachment").hide();
		$(".outer_page_drafting").removeClass("bagi_dua");
		open_preview = 0;
	}



	function download_draft_sign(Id) {

		var param = { 'Id': Id, };
		OpenWindowWithPost(URL_PTPR + '/EContract/File', "width=730,height=345,left=100,top=100,resizable=yes,scrollbars=yes",
			"ContractId", param);


	}

</script>

@*process*@
<script>


	function download_draft(X) {


		if (X == undefined) {

			$('#ModalDownloadDraft').modal(
				{
					backdrop: 'static',
					keyboard: false
				}
			);
		}
		else {

			RptHTML = $(".outer_page_drafting").html();
			var param = { 'ContractId': current_contract_id, 'RptHTML': '-', 'Rangkap': X };
			OpenWindowWithPost(URL_PTPR + '/EContract/PrintEKontrakProcurement', "width=730,height=345,left=100,top=100,resizable=yes,scrollbars=yes",
				"ContractId", param);

			$('#ModalDownloadDraft').modal("hide");
		}




	}

	function back_to_drafting() {

		current_reject = 0;
		$("#proses_next_step").hide("fade", function () {

			$("#template_e_contract").show();

		})
	}


	function prep_save_draft(flagops) {


		$('#ENeedCorrection,#EUpdateDraft').prop('checked', false); // Checks it
		$("#pre_reject_wording,#pre_process_wording").hide();
		$(".cek_box").show();


		if (flagops == "reject") {

			$("#pre_reject_wording").show();
			$(".file_sign_upload_group,#field_lanjut_dengan_catatan").hide();
			$("#template_e_contract").hide("fade", function () {

				$("#next_step_wording").html("Anda Akan Mareject Draft Ini  : ");
				$("#proses_next_step").show();

			})

			current_reject = 1;
		}
		else {

			if (current_contract.InProcess == 4 || current_contract.InProcess == 5) {

				$("#pre_process_wording").show();
				$(".file_sign_upload_group").show();
				$(".cek_box").hide();
				if (current_contract.InProcess == 1) { $("#field_lanjut_dengan_catatan").show(); } else { $("#field_lanjut_dengan_catatan").hide(); }

			}
			else {

				$("#pre_process_wording").show();
				$(".file_sign_upload_group").hide();
				if (current_contract.InProcess == 1) { $("#field_lanjut_dengan_catatan").show(); } else { $("#field_lanjut_dengan_catatan").hide(); }
				if (current_contract.InProcess == 3) $(".cek_box").hide();

			}


			$("#template_e_contract").hide("fade", function () {

				$("#next_step_wording").html("Proses Selanjutnya : " + current_contract.NextProcessTag);
				$("#proses_next_step").show();

			})

		}


	}


	function submit_draft() {


		var CaptureDiv = $(".outer_page_drafting").html();
		var ProcessCatatan = $("#ProcessCatatan").val();
		var NeedCorrection = $("#ENeedCorrection").is(':checked');
		var UpdateDraft = $("#EUpdateDraft").is(':checked');

		var file_sign_1 = $("#ProcessUpload_1").get(0).files;
		var file_sign_2 = $("#ProcessUpload_2").get(0).files;

		if (current_reject != 1) {

			if (current_contract.InProcess == 4 || current_contract.InProcess == 5) {

				if (file_sign_1.length == 0 || file_sign_2.length == 0) {
					w2alert("Harap upload dokumen yang telah ditanda tangani dengan lengkap!")
					return;
				}

			}
		}


		if (NeedCorrection == true) {

			if (ProcessCatatan == "") {

				$("#ProcessCatatan").focus();
				w2alert("Harap tinggalkan catatan !, karena Anda memilih opsi <br><b>Lanjut Proses Dengan Catatan</b> ");

				return;
			}
		}

		if (current_reject == 1) {

			if (ProcessCatatan == "") {

				$("#ProcessCatatan").focus();
				w2alert("Harap tinggalkan catatan !, karena Anda akan mereject draft ini  ");

				return;
			}
		}



		$("#proses_next_step").hide();

		$("#progress_save_draft").show("fade", function () {

		

			var DataSave = new FormData();
			DataSave.append('ProcId', current_contract.ProcurementId);
			DataSave.append('FormField', "");
			DataSave.append('FormCapture', CaptureDiv);
			DataSave.append('FormCaptureEdit', "");
			DataSave.append('ContractId', current_contract.ContractId);

			DataSave.append('ContractType', "");
			DataSave.append('PenanggungJawabPihak1', "");

			DataSave.append('ContractTitle', "");
			DataSave.append('ContractValue', 0);
			DataSave.append('StartDate', "");
			DataSave.append('EndDate', "");
			DataSave.append('FlagCrud', 'PROCESS');
			DataSave.append('FormId', current_contract.FormId);
			DataSave.append('NeedCorrection', Number(NeedCorrection));
			DataSave.append('UpdateDraft', Number(UpdateDraft));
			DataSave.append('Remark', ProcessCatatan);
			DataSave.append('IsReject', current_reject);

			for (var i = 0; i < oFileTotal.length; i++) {

				count = Number(i) + 1;
				var uploader_attachment = oFileTotal[i];
				DataSave.append("Lampiran_" + count, uploader_attachment[0]);
			}


			if (file_sign_1.length > 0) {

				DataSave.append('FILE_1', file_sign_1[0]);
			}

			if (file_sign_2.length > 0) {

				DataSave.append('FILE_2', file_sign_2[0]);
			}

			var Simpan = $.ajax({
				url: URL_PTPR + '/EContract/SaveEContractPengadaan',
				type: 'POST',
				data: DataSave,
				dataType: "json",
				cache: false,
				async: false,
				contentType: false,
				processData: false,
				error: function (request, status, error) {

					$("#progress_save_draft").hide();
					$("#template_e_contract").show();
					w2alert("Error, try again or contact our administrator please !", "Process E-Kontrak");

				}
			});


			if (Simpan.responseJSON["Result"].toLocaleLowerCase().indexOf("error") != -1) {
				w2alert(Simpan.responseJSON["Result"]);

			}
			else {
				if (current_reject == 1 || NeedCorrection == true) {
					if (current_reject == 1) w2alert("Proses Reject E-Kontrak berhasil.", "Process E-Kontrak");
					if (NeedCorrection == true) w2alert("Proses Lanjut Dengan Catatan E-Kontrak berhasil.", "Process E-Kontrak");
				}
				else {
					w2alert("Proses E-Kontrak Ke Proses " + current_contract.NextProcessTag + " berhasil.", "Process E-Kontrak");
				}

				$("#template_e_contract").hide(); close_drafting(); $("#progress_save_draft").hide();
			}


		});


	}

</script>

@*other*@
<script>
	$('.uploader').ace_file_input({
		btn_choose: 'Tambahakan File Attacment',
		btn_change: null,
		no_icon: 'ace-icon fa fa-cloud-upload',
		droppable: true,
		thumbnail: 'small',
		no_file: '',
	}).on('change', function () {



	});

</script>