@{
    Layout = null;
}

<script>

</script>

<style>

    .page-content {
        padding: 0px !important;
    }

    .box_info {
        text-align: center;
        padding-top: 4%;
        border: 0px dashed #dedede;
        margin: 0px auto;
        margin-top: 0%;
        width: 80%;
        border-radius: 5px;
    }

    #box_info_icon {
        text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;
        border-top: 1px dashed #dedede;
        margin-top: 10px;
        box-sizing: border-box;
    }

        #box_info_icon .icon_short_cut {
            border: 1px dashed #dedede;
            padding: 8px;
            width: 85px;
            height: 120px;
            border-radius: 2%;
            display: inline-table;
            margin-left: 2px;
            font-size: 10px;
            cursor: pointer;
            transition: 0.3s;
            margin-bottom: 1%;
            background-color: none;
            cursor: pointer;
        }

            #box_info_icon .icon_short_cut:hover {
                opacity: 0.50;
                border: 1px solid #1a8cff;
            }

            #box_info_icon .icon_short_cut i {
                font-size: 25px;
                margin-bottom: 10px;
            }

    .logo_menu_head {
        width: 150px;
    }

    .logo_menu {
        width: 35px;
    }

    .list_title {
        font-weight: normal;
        font-size: 13px;
        color: #3279a8;
    }

    .list_title_2 {
        font-weight: normal;
        font-size: 11px;
        color: #3279a8;
    }

    .non_aktif {
        filter: grayscale(90%);
        border: 1px dashed #dedede !important;
        background-color: whitesmoke;
        cursor: not-allowed !important;
    }
</style>

<div id="page_panel">
    <div class="row box_info" style="background-color:White;">

        <div class="col-sm-3" style="padding-top:2%;">
            <img src="../../../Content/img/alarm.gif" class="logo_menu_head" style="width:90%;">
        </div>

        <div class="col-sm-7">

            <div style="text-align:left;font-size:13px;margin-bottom:30px;">
                <span style="font-size:30px;color:#1a8cff;font-weight:bold;">Reminder</span><span style="font-size:25px;color:#88a833;"> - Management</span><br />
                Ajukan Reminder Anda dengan lebih mudah dan termonitoring serta tepat jadwal.
            </div>

            <select class="form-control select2 wajib3" id="param_field" data-placeholder="Cari Berdasarkan">
                <option value="All" selected>All</option>
                <option value="Title">Title</option>
                <option value="Descriptions">Descriptions</option>
            </select>


            <input class="form-control wajib" id="key_word" placeholder="Enter Keyword" type="text" autocomplete="off" style="text-align:center;margin-top:5px;margin-bottom:10px;" onkeypress="if (event.keyCode == 13){find_broadcast_search(0);}">
            <button type="button" class="btn btn-sm btn-default" onclick="clear_search()" ondblclick="clear_search()"><i class="fa fa-undo" aria-hidden="true"></i> Clear</button>
            @*<button type="button" id="goSearch" class="btn btn-sm btn-info"><i class="fa fa-search" aria-hidden="true"></i> Search</button>*@
            <button type="button" class="btn btn-sm btn-info" onclick="find_broadcast_search()" ondblclick="find_broadcast_search()"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
        </div>
    </div>

    <div id="box_info_icon">

        <div class="icon_short_cut" onclick="add_broadcast()" id="shortcut_add">
            <i class="fa fa-plus-square-o" aria-hidden="true" style="color:dodgerblue;"></i>
            <br />
            <span class="lbl bigger-100">Create New</span> <br /><br />
        </div>

        <div class="icon_short_cut" onclick="find_broadcast_search_by_status('3',this.className)" id="count_reject_">
            <i class="fa fa-list" aria-hidden="true" style="color: #1a8cff; "></i>
            <br />
            <span class="lbl bigger-100">List Data</span> <br /><br /><br />
            <span class="badge badge-danger total_confirm" style="margin-top:3px;" id="count_reject"></span>
        </div>

        @*<div class="icon_short_cut" onclick="find_broadcast_search_by_status('1',this.className);" id="count_new_">
            <i class="fa fa-envelope" aria-hidden="true" style="color:orange;"></i>
            <br />
            <span class="lbl bigger-100">Wating For Approved</span> <br /><br />
            <span class="badge badge-danger total_confirm" style="margin-top:3px;" id="count_new"></span>
        </div>


        <div class="icon_short_cut" onclick="find_broadcast_search_by_status('2',this.className);" id="count_approve_">
            <i class="fa fa-check-square-o" aria-hidden="true" style="color:#50aa16;"></i>
            <br />
            <span class="lbl bigger-100">Approve</span><br /><br /><br />
            <span class="badge badge-danger total_confirm" style="margin-top:3px;" id="count_approve"></span>
        </div>

        <div class="icon_short_cut" onclick="find_broadcast_search_by_status('3',this.className);" id="count_done_">
            <i class="fa fa-paper-plane-o" aria-hidden="true" style="color:#1a8cff;"></i>
            <br />
            <span class="lbl bigger-100">Done</span><br /><br /><br />
            <span class="badge badge-danger total_confirm" style="margin-top:3px;" id="count_done"></span>
        </div>*@
    </div>
</div>

<div id="page_result" hidden>
    <div id="gridReminder" style="border-radius:0px;border:none;border-top:1px solid #ccc;" class="responsive"></div>
</div>


<script>

    //var y = $.fn.tooltip.Constructor.VERSION
    $('#gridReminder').css('height', Number(window.innerHeight) - 133);
    $(window).resize(function () {
        $('#gridReminder').css('height', Number(window.innerHeight) - 133);
    });

    function find_broadcast_search_by_status(status, class_name) {

        if (class_name.toLocaleLowerCase().indexOf("non_aktif") != -1) { return false; }
        is_search = 0;
        is_grid = 1;
        global_status = status;
        filter_global = status;
        $("#page_panel").hide(function () {
            $("#page_result").show(function () {
                render_grid_broadcast();
                refresh_broadcast_list();
            });
        });
    }

   
    function add_broadcast() {

        flagCrud = "ADD";
        form_broadcast_detail();
    }

    function form_broadcast_detail() {
        load_page("#PageContainer", URL_PTPR + "/Reminder/Detail", function () { $('.select2').css('width', '100%').select2(); });
    }

    function refresh_broadcast_list() {
        var combojson = '{"ReminderType" : {"combo":"M_reminder_type","keys":"Id","values": "ReminderName"}}';
        w2ui['gridReminder'].load('/Reminder/getReminderList?code=t_reminder&combojson=' + combojson);
    }
</script>       